.ingredients {
    font-family: "Times New Roman", sans-serif;
    font-size: 40px;
    color: rgb(105, 173, 105);
}

.recipe-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    color: purple;
}

.directions {
    background-color: blueviolet;
    color:aliceblue;
    font-size: 36px;
}

.notes-container {
    background-color: rgba(0, 189, 189, 0.466);
    padding: 10px;
    border: 3px solid gray;
}

img {
    margin-left: auto;
}