.ingredients {
    font-family: "Times New Roman", sans-serif;
    font-size: 40px;
    color: rgb(105, 173, 105);
}

.recipe-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    color: purple;
}

.directions {
    background-color: blueviolet;
    color:aliceblue;
    font-size: 36px;
}
